
.home_page {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.home_page .body .spliter {
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 5px;
}
.home_page .body .spliter > h3 {
    font-weight: bold;
}
.home_page .body .spliter > p {
    color: var(--text3);
}

.home_page .body .header {
    position: relative;
    display: flex;
    border-radius: 15px;
    overflow: hidden;
    user-select: none; cursor: pointer;
}
.home_page .body .header > :last-child {
    position: absolute;
    width: calc(100% - 60px);
    height: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 30px;
    justify-content: end;
    box-shadow: inset 0px -100px 100px rgb(0, 0, 0, 0.8);
    transition: box-shadow 0.3s;
}
.home_page .body .header:hover > :last-child {
    box-shadow: inset 0px -100px 100px rgb(0, 0, 0, 1);
}
.home_page .body .header img { transition: scale 0.3s; }
.home_page .body .header:hover img {
    scale: 1.05;
}
.home_page .body .header > :last-child .title {
    color: white;
    font-weight: bold;
    font-size: 24px;
}
.home_page .body .header > :last-child .description {
    color: rgb(200, 200, 200);
}